.instructionsSection,
.hintSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: 0.05rem;
}

.description {
    line-height: 1.5;
    font-size: 1.9rem;
    margin: 1rem 0;
}

.directionsList {
    padding: 0.8rem;
    padding-inline-start: 40px;
    font-size: 1.5rem;
}

.directionsList > li {
    margin-bottom: 1rem;
}

.hintSection {
    margin: 1rem 0;
    font-size: 1.5rem;
}

.hints {
    font-style: italic;
    text-align: center;
}

.form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0;
}

.formInput {
    width: 90%;
    height: 4rem;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1rem;
    box-shadow: 0 8px 8px 0 rgb(0 0 0 / 10%);
    margin-bottom: 1.8rem;
}

.formInput::placeholder {
    font-size: 1.5rem;
}

.formInput[type=text] {
    font-size: 1.8rem;
}

.ctaButton,
.resetButton {
    width: 90%;
    height: 4rem;
    font-size: 1.5rem;
    border-radius: 5px;
    font-weight: 800;
    cursor: pointer;
    box-shadow: 0 8px 12px 0 rgb(0 0 0 / 10%);
    border-style: none;
    margin-bottom: 1rem;
}

.ctaButton{
    background-color: #0BA661;
    color: white;
}

.resetButton {
    background-color: #ffa500;
}

.loading,
.error {
    font-size: 1.8rem;
    margin-top: 1.8rem;
    padding: 0.5rem;
    text-align: center;
}

.error {
    color: #ff0033;
}

.loading {
    animation: pulse 5s infinite;
  }
  
  @keyframes pulse {
    0% {
      font-size: 1.2rem;
    }
    100% {
        font-size: 2.2rem;
    }
}

@media screen and (min-width: 1024px) {
    .form {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        max-width: 50rem;
        margin-top: 3rem;
    }

    .formInput {
        width: 70%;
        margin-bottom: 0px;
    }

    .ctaButton,
    .resetButton {
        width: 15%;
        margin-bottom: 0px;
    }
}